li {
    list-style-type: none;
}

.skills {
    width: 100%;
    background: #FFF6E0;
    display: flex;
    padding: 5vw 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.skills .rubberBand {
    font-size: 4vw;
}

.skills .rubberFlex {
    margin-bottom: 2vw;
}

.skills__text {
    padding: 0 0 0 2vw;
    width: 50%;
}

.skills__tittle h1 {
    font-size: 3.5vw;
    color: #682330;
    letter-spacing: .40vw;
}

.skills__desc p {
    font-size: 1.4vw;
    color: #682330;
    width: 76%;
    margin: 1vw 0;
}

.skills__img {
    width: 50%;
    padding: 8vw 2vw 2vw 2vw;
}

.skills__img ul {
    width: 100%;
}

.skills__img ul li {
    width: 100%;
    margin-bottom: 2vw;
}

.skills__img ul li p {
    font-size: 1.2vw;
}

.skills__img .skill__hr {
    width: 100%;
    height: .40vw;
    margin-top: .5vw;
    border-radius: 1vw;
    position: relative;
    /* border: .20vw solid rgb(223, 223, 223); */
    background: rgb(223, 223, 223);
    z-index: 5;
}

.skill__hr__overlay {
    position: absolute;
    left: -.15vw;
    /* top: -.15vw; */
    bottom: 0;
    right: 0;
    height: .40vw;
    border-radius: 1vw;
    /* border: .20vw solid #08FDD8; */
    background: #08FDD8;
    z-index: 9;
}

.skill__hr__overlay::before {
    content: "";
    position: absolute;
    width: 1vw;
    height: 1vw;
    top: -.28vw;
    right: -.30vw;
    border-radius: 50%;
    background-color: #02c2a5;
    /* box-shadow: 0 0 0 .15vw #08FDD833, 
    0 0 0 .65vw #08FDD866; */
    z-index: 10;
}

/* li 1 */
.skills__img ul li:nth-child(1) .skill__hr__overlay {
    background: linear-gradient(45deg, #1fe6ff, #673Ab7);
    width: 80%;
}

.skills__img ul li:nth-child(1) .skill__hr__overlay::before {
    background-color: #5f4ba7;
    box-shadow: 0 0 0 .80vw #6148BD33,
        0 0 0 .42vw #6148BD66;
    z-index: 10;
}

/* li 2 */
.skills__img ul li:nth-child(2) .skill__hr__overlay {
    background: linear-gradient(45deg, #3bc0ff, #33ff00);
    width: 90%;
}

.skills__img ul li:nth-child(2) .skill__hr__overlay::before {
    background-color: #38ca13;
    box-shadow: 0 0 0 .80vw #33ff0033,
        0 0 0 .42vw #33ff0066;
    z-index: 10;
}

/* li 3 */
.skills__img ul li:nth-child(3) .skill__hr__overlay {
    background: linear-gradient(45deg, #ffee54, #ff00ca);
    width: 90%;
}

.skills__img ul li:nth-child(3) .skill__hr__overlay::before {
    background-color: #d405ab;
    box-shadow: 0 0 0 .80vw #ff00ca33,
        0 0 0 .42vw #ff00ca66;
    z-index: 10;
}

/* li 4 */
.skills__img ul li:nth-child(4) .skill__hr__overlay {
    background: linear-gradient(45deg, #22ffde, #2196f3);
    width: 76%;
}

.skills__img ul li:nth-child(4) .skill__hr__overlay::before {
    background-color: #1980d4;
    box-shadow: 0 0 0 .80vw #2196f333,
        0 0 0 .42vw #2196f366;
    z-index: 10;
}

/* li 5 */
.skills__img ul li:nth-child(5) .skill__hr__overlay {
    background: linear-gradient(45deg, #1072c2, #ff008c);
    width: 80%;
}

.skills__img ul li:nth-child(5) .skill__hr__overlay::before {
    background-color: #e0007b;
    box-shadow: 0 0 0 .80vw #ff008c33,
        0 0 0 .42vw #ff008c66;
    z-index: 10;
}

/* li 6 */
.skills__img ul li:nth-child(6) .skill__hr__overlay {
    background: linear-gradient(45deg, #1fe6ff, #673Ab7);
    width: 82%;
}

.skills__img ul li:nth-child(6) .skill__hr__overlay::before {
    background-color: #5f4ba7;
    box-shadow: 0 0 0 .80vw #6148BD33,
        0 0 0 .42vw #6148BD66;
    z-index: 10;
}

/* li 7 */
.skills__img ul li:nth-child(7) .skill__hr__overlay {
    background: linear-gradient(45deg, #3bc0ff, #33ff00);
    width: 85%;
}

.skills__img ul li:nth-child(7) .skill__hr__overlay::before {
    background-color: #38ca13;
    box-shadow: 0 0 0 .80vw #33ff0033,
        0 0 0 .42vw #33ff0066;
    z-index: 10;
}

/* li 8 */
.skills__img ul li:nth-child(8) .skill__hr__overlay {
    background: linear-gradient(45deg, #ffee54, #ff00ca);
    width: 87%;
}

.skills__img ul li:nth-child(8) .skill__hr__overlay::before {
    background-color: #d405ab;
    box-shadow: 0 0 0 .80vw #ff00ca33,
        0 0 0 .42vw #ff00ca66;
    z-index: 10;
}

/* li 9 */
.skills__img ul li:nth-child(9) .skill__hr__overlay {
    background: linear-gradient(45deg, #22ffde, #2196f3);
    width: 95%;
}

.skills__img ul li:nth-child(9) .skill__hr__overlay::before {
    background-color: #1980d4;
    box-shadow: 0 0 0 .80vw #2196f333,
        0 0 0 .42vw #2196f366;
    z-index: 10;
}

/* li 10 */
.skills__img ul li:nth-child(10) .skill__hr__overlay {
    background: linear-gradient(45deg, #1072c2, #ff008c);
    width: 70%;
}

.skills__img ul li:nth-child(10) .skill__hr__overlay::before {
    background-color: #e0007b;
    box-shadow: 0 0 0 .80vw #ff008c33,
        0 0 0 .42vw #ff008c66;
    z-index: 10;
}


/* responsive */
@media screen and (max-width: 768px) {
    .skills {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 9vw 0;
    }

    .skills__text {
        padding: 0 0 0 2vw;
        width: 100%;
    }

    .skills__desc p {
        font-size: 2.4vw;
        width: 96%;
    }

    .skills__img {
        width: 99%;
        padding: 8vw 2vw 2vw 2vw;
    }

    .skills__img .skill__hr {
        height: 1.6vw;
        margin-top: 1.80vw;
    }

    .skill__hr__overlay {
        height: 1.6vw;
    }

    .skill__hr__overlay::before {
        width: 4vw;
        height: 4vw;
        top: -1.20vw;
        right: -.30vw;
    }

    .skills__img ul li {
        width: 100%;
        margin-bottom: 5vw;
    }

    .skills__img ul li p {
        font-size: 3vw;
    }
}