.contact {
    width: 100%;
    background-color: #FFF6E0;
    height: 46vw;
    padding: 4vw 2vw;
}

.contact .rubberBand {
    font-size: 4vw;
}

.contact .rubberFlex {
    margin-bottom: 2vw;
}

.contact__wrapper {
    display: flex;
}

.contact__img,
.contact__form {
    width: 50%;
}

.contact__img {
    padding: 0 6vw 0 3vw;
}

.contact__img img {
    width: 100%;
}

.contact__form input {
    width: 100%;
    border: none;
    outline: none;
    background: #FAFAFA;
    height: 3.60vw;
    font-size: 1.2vw;
    color: #8d8d8d;
    padding: 0 1.3vw;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0.03vw solid #CCC5B3
}

.emailName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .80vw;
}

.emailName>input {
    width: 49%;
}

.contact__form textarea {
    width: 100%;
    border: none;
    outline: none;
    background: #FAFAFA;
    font-size: 1.2vw;
    color: #8d8d8d;
    padding: 1vw 1.3vw;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 1vw;
    border: 0.03vw solid #CCC5B3
}

.contact__form button {
    background-color: transparent;
    padding: .80vw 1.3vw;
}

.contact .button2 {
    float: right;
    width: 45%;
    text-align: center;
}

/* responsive */
@media screen and (max-width: 768px) {
    .contact {
        width: 100%;
        background-color: #FFF6E0;
        height: auto;
    }

    .contact__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .contact__img,
    .contact__form {
        width: 90%;
    }

    .contact__form input {
        height: 7.60vw;
        font-size: 2.90vw;
    }

    .emailName {
        margin-bottom: 2vw;
    }

    .contact__form textarea {
        font-size: 2.90vw;
        margin-top: 3vw;
    }

    .contact__form button {
        padding: 1.30vw 1.3vw;
    }

    .contact .button2 {
        width: 35%;
    }

    .contact__img {
        display: none;
    }
}