.sidebar {
  width: 9.65vw;
  height: 100vh;
  position: fixed;
  background: rgb(255 234 186);
}

.sidebar__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__wrapper .logo {
  background: rgb(255 234 186);
  width: 100%;
  padding: 0 0 2vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 0.06vw solid rgba(238, 223, 187, 0.473);
}

.sidebar__wrapper .logo>h1 {
  font-size: 7.6vw;
  user-select: none;
  color: #682330;
}

.logo h4 {
  font-size: 2vw;
  color: #76323f;
}

.logo p {
  font-size: 1.2vw;
  color: #76323f;
}

.logoImg {
  width: 100%;
  height: 11vw;
}

.logoImg img {
  width: 100%;
}

.collection {
  width: 100%;
  user-select: none;
  --webkit-user-select: none !important;
  margin-top: 1vw;
}

.collection li {
  padding: 0.8vw 0vw;
  cursor: pointer;
  font-size: 1.2vw;
  text-align: center;
  z-index: 20;
  border-bottom: 0.06vw solid #ddd;
}

.collection li:nth-child(1) {
  border-top: 0.06vw solid #ddd;
}

.collection li.collectionActive {
  background: #fff6e0;
  position: relative;
}

.collection li.collectionActive::before {
  content: "";
  position: absolute;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  top: -2vw;
  right: 0;
  box-shadow: 1vw 1vw 0 #fff6e0;
  z-index: -1;
  background: rgb(255 234 186);
}

.collection li.collectionActive::after {
  content: "";
  position: absolute;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  bottom: -2vw;
  right: 0;
  box-shadow: 1vw -1vw 0 #fff6e0;
  z-index: -1;
  background: rgb(255 234 186);
}

.collection li:hover a {
  padding: 0 0 0 1vw;
  transition: all 0.4s;
  text-decoration: underline;

}

.collection li a {
  letter-spacing: 0.1vw;
  position: relative;
  text-decoration: none;
  color: #76323f;
  padding: 0 0.5vw;
  transition: all 0.4s;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  text-decoration: none;
}


.sidebar__icon {
  margin: 3vw 0 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.sidebar__icon span {
  margin: 0 0.5vw;
  font-size: 1.5vw;
  color: #76323f;
  cursor: pointer;
}

.collectionActive {
  background-color: #fff6e0;
  border-radius: 1.5vw 0 0 1.5vw;
}

.collectionActive a {
  color: #76323f !important;
  padding: 0 0 0 1vw !important;
  text-decoration: underline !important;
}


@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    z-index: 99;
    display: none;
  }

  .sidebarActive {
    display: block;
  }

  .sidebar__wrapper .logo {
    display: none;
  }

  .collection {
    padding-top: 10vw;
  }

  .collection li a {
    font-size: 5vw;
  }

  .collection li {
    border-bottom: none;
    margin: 4vw 0;
  }

  .collection li:nth-child(1) {
    border-top: none;
  }

  .collection li.collectionActive {
    background: transparent;
  }

  .sidebar__icon span {
    margin: 9vw 2.5vw;
    font-size: 9.5vw;
    color: #76323f;
    cursor: pointer;
  }
}