@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 0.41vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b9959b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #682330;
  border-radius: 0.27vw;
}